.invite-follow-app {
  width: 100%;

  .banner {
    width: 100%;

    img {
      width: 100%;
    }
  }

  @titleColor: #FEFDFD;

  .draw-panel {
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;

    .title {
      font-size: 2rem;
      text-align: center;
      color: @titleColor;
    }

    .subtitle {
      text-align: center;
      color: @titleColor;
    }

    .footer {
      text-align: center;
      color: @titleColor;
    }
  }
}